
%plainlist{
	margin: 0;
	padding: 0;
	width:100%;
}



aside {
    @include span ( 3.4 );
    margin: 1.5em;
    padding:1em;
	text-align: right;
}
aside ul{
    padding : 0px ;
    margin: 10px 0px 10px 0px;
    li{
    	cursor : pointer ;
        list-style : none ;
        margin : 0px ;
    }
}

aside svg{

}
aside h3{
	margin-right: 10px;
}

.menu-items{
	display:inline-block;
	padding:5px 10px 5px 3px;
	margin:0;
	width :100px;
	cursor : pointer ;
	&:hover {
		background-color : $menu-hover-color;
		cursor : pointer ;	
	}
	&:active {
		background-color : $menu-active-color;
		cursor : pointer ;		
	}
}
.nav-option{
	display : none ;
}

.nav-sub ul{
	margin:0;
	margin:5px 8px 3px 8px;
	font-size: 10px;
	width:130px;
	li{
		//background-color: $white;
		text-align: right;
		margin: 8px 0px 8px 3px;
		padding-right: 7px;
		border: {
			@include border(0px,0px,0px,2px);
			style : solid;
			color: $midgray;
	    }
	}
}