$font-hind: 'Hind Siliguri', sans-serif;
$font-averia: 'Averia Sans Libre', cursive;
$font-rubik: 'Rubik', sans-serif;
$font-opensans: 'Open Sans', sans-serif;


$white: #ffffff;
$silver:#f2f3f3;
$dovegray: #edebeb;
$midgray:#7d8a92;
$darkgray:#454546;
$black:#130e0a;

$paleblue:#d6eae9;
$blue: #91b8cf;
$turquoise :#2980b9;
$beige: #dfd6bd;
$olive:#aba17e;
$palegreen:#f3f9f1;
$lightyellow:#fbf8e1;
$peach:#fee1cc;
$redbean:#d3bcc2;
$darkred:#9e2121;

$mobile-small:240px;
$mobile-large:320px;
$tablet-small:480px;
$tablet-large:768px;
$screen-small:1024px;
$screen-large:1280px;



//setting 
$default-background-color: #f4f4f4;
$default-size : 12px;
$default-color: #969696 ;

$default-font : $font-opensans;
$background-color : $white;
$category-usability : #bad8d6;
$category-gis : #bdd8a6;
$category-uxd : #baa8d7;

//menu
$menu-normal-color:$black;
$menu-hover-color:$silver;
$menu-active-color:$dovegray;
$footer-background-color:$midgray;