@import "susy";
@import "compass";
@import "compass/css3/box-shadow";
@import "breakpoint";

@import "layout";
@import "mixin";
@import "variables";
@import "nav";


html body {
    margin : 0;
    background : $default-background-color;
    font-family : $default-font ;
    @include container( 80em );
}

a {
    @include link-colors($turquoise, $blue, $blue, $paleblue, $paleblue);
}


header{
    height : 1 ;
}

main{
    margin-top: 2em;
}


main div {

    @include box-shadow( #cecece 2px 2px 10px);
    background: $background-color;
    padding: 1em;
    margin: 1.5em;
    height:200px;
    border:{
        style:solid;
        @include border(1px,1px,1px,1px);
        width:1px;
        color:$dovegray;
    }
    > span {
        &.category {
            font-size: 10px;
            line-weight: 200%;
            &:before{
                content: "category >";
            }
            &.usability{
                background: $category-usability;
            }
            &.gis{
                background: $category-gis;
            }
            &.uxd{
                background: $category-uxd;
            }
        }
    }
}


aside .logo{
    width:180px;
    heigt:180px;
}


footer{
    background: $footer-background-color;
}