@import "compass";

@import "variables";
@import "mixin";
@import "nav";
@import "modal";
@import "animation";
@import "form";
@import "grids";
@import "normalize";

html body {
    margin : 0;
    background : $default-background-color;
    font-family : $default-font ;
    @include container( 60em );
}

a {
    @include link-colors($turquoise, $blue, $blue, $paleblue, $paleblue);
}


header{
    margin:0px;
}
main{
    margin-top: 2em;
}


main div {

    @include box-shadow( #cecece 2px 2px 10px);
    background: $background-color;
    padding: 1em;
    margin: 1.5em;
    height:200px;
    border:{
        style:solid;
        @include border(1px,1px,1px,1px);
        width:1px;
        color:$dovegray;
    }
    > span {
        &.category {
            font-size: 10px;
            line-weight: 200%;
            &:before{
                content: "category >";
            }
            &.usability{
                background: $category-usability;
            }
            &.gis{
                background: $category-gis;
            }
            &.uxd{
                background: $category-uxd;
            }
        }
    }
}


.logo{
    width:180px;
    heigt:180px;
}


footer{
    background: $footer-background-color;
}